# dependencies
node_modules/

# next.js
.next/
out/
.vercel/

# env files
.env*
!.env.example

# logs
npm-debug.log*
yarn-*.log*
pnpm-*.log*
.pnpm-debug.log*

# editors/OS
.vscode/
.DS_Store
Thumbs.db

# builds
dist/
build/

# archives
*.zip
*.rar
*.7z
